@media screen and (min-width: 1201px) {
    body {
        background-color: #fdb2b2;
    }
    img {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #fc9898;
    }
    img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-color: #ff6a6a;
    }
    img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: #f72a2a;
    }
    img {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: #1bfddf;
    }
    img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: #ff0000;
    }
    img {
        width: 150px;
        height: auto;
    }
}